name: Deploy Helm Chart

on:
  push:
    branches:
      - master

permissions: write-all

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Generate Random Semantic Version
        id: random-version
        shell: bash
        run: |
          VERSION="v0.$((1 + RANDOM % 9)).$((1 + RANDOM % 9))-${GITHUB_RUN_NUMBER}"
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "Generated version: $VERSION"

      - name: Package Helm Chart
        uses: docker://projectoss/helm-client:latest
        with:
          run: |
            helm version
            helm package \
              --version "${{ steps.random-version.outputs.version }}" \
              ./tomcat-chart

      - name: Update chart repo index in gh-pages branch
        run: |
          helm repo index --merge index.yaml .
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add .
          git commit -m "feat: Update chart index with version ${{ steps.random-version.outputs.version }}" || echo "No changes to commit"
          git push https://dinushchathurya:${{ secrets.PAT_TOKEN }}@github.com/dinushchathurya/helm-client-chart.git HEAD:master -f
